<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juju.sport.order.mapper.OwnOrdersMapper" >
  <resultMap id="BaseResultMap" type="com.juju.sport.order.pojo.Orders" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="order_total" property="orderTotal" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="payment_status" property="paymentStatus" jdbcType="INTEGER" />
    <result column="user_account_id" property="userAccountId" jdbcType="VARCHAR" />
    <result column="owner_account_id" property="ownerAccountId" jdbcType="VARCHAR" />
    <result column="order_time" property="orderTime" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="stat" property="stat" jdbcType="INTEGER" />
  </resultMap>

  <update id="updateOrdersByOrderNo" parameterType="java.util.Map">
    update juju_orders
    set order_status = #{orderStatus},
      payment_status = #{paymentStatus},
      last_update_time = #{lastUpdateTime}
    where order_no = #{orderNo}
  </update>
</mapper>