<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">  

 	<display-name>Archetype Created Web Application</display-name>
  
  	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:/spring-config/applicationContext.xml</param-value>
    </context-param>
     
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <!--<param-value>${mode}</param-value>  -->
        <param-value>dev</param-value>
    </context-param>
    
    <filter>     
		<filter-name>GzipJsFilter</filter-name>     
		<filter-class>com.juju.sport.common.filter.GzipJsFilter</filter-class>     
		<init-param>     
			<param-name>headers</param-name>     
			<param-value>Content-Encoding=gzip</param-value>     
		</init-param>   
	</filter>   
	<filter-mapping>   
		<filter-name>GzipJsFilter</filter-name>   
		<url-pattern>*.gzjs</url-pattern>   
	</filter-mapping>     	
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
		<listener-class>com.juju.sport.admin.listener.InitApplicationContext</listener-class>
	</listener>
	
     <!-- Processes application requests -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>classpath*:/spring-config/servlet-context.xml</param-value>  
        </init-param> 
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
  
    <welcome-file-list>
		<welcome-file>/login/index.do</welcome-file>
	</welcome-file-list>
	
	<session-config> 
   		<session-timeout>0</session-timeout> 
    </session-config> 
</web-app>
