<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juju.sport.admin.manager.mapper.ActionExMapper" >
	
	 <select id="getActionByRoleId" resultMap="com.juju.sport.admin.manager.mapper.ActionMapper.BaseResultMap">
	 	select action.* from admin_action action 
		left join admin_role_action roleAction on action.id = roleAction.action_id and roleAction.stat=1
		where roleAction.role_id=#{roleId} and action.stat=1
	 </select>
	
</mapper>